# Python-related ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.env

# Virtual environment
venv/
env/

# IDE-related ignores
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp
*.swp
*.swo

# Byte-compiled and cache files
*.egg-info/
.eggs/
*.cache

# Node.js-related ignores (if applicable for frontend)
node_modules/
dist/
build/

# Next.js-specific ignores
.next/
out/
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# Ignore secrets
*.key
*.pem
*.crt

# Ignore specific files
Untitled-1
